<nb-card>
  <nb-card-body class="row p-0">
    <div class = "col-12">
      <nb-actions size="small" style="place-content: flex-end">
        <nb-action class="control-item" (click)="close()">
          <nb-icon class="action-icon secundary" icon="close-outline"></nb-icon>
        </nb-action>
      </nb-actions>
    </div>
    <div class="col-12"  style="padding-top: 17px">
      <div class="row p-0 m-0">
        <div class="col-md-12" style="text-align: center">
          <img *ngIf="imageIcon" [src]="icon"  [ngStyle]="{'color':colorIcon}"/>
          <nb-icon *ngIf="!imageIcon" [icon]="icon" style="font-size: 5.8rem;" [ngStyle]="{'color': colorIcon}"></nb-icon>
        </div>
        <div class="col-md-12" style="text-align: center">
          <div style="color: #003a70; padding-bottom: 12px; margin-top: 16px" class="font-source-sans-pro title-generic">{{title}}</div>
        </div>
        <div class="col-md-12 roboto-regular body-generic" style="text-align: center; padding: 0 2.5vh;">
          {{getBody()}}
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row m-0 p-0">
      <div class="col-md-12" style="text-align: center; padding: 0 2.5vh;">
        <button style="text-transform: none !important;" [ngClass]="{'button-gradient': !success }" class="font-source-sans-pro-semibold" nbButton fullWidth shape="round" size="large" status="success" (click)="dismiss()">
          {{textButtom}}
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
